ChainOfIrresponsibility/ChainOfIrresponsibility/bin
ChainOfIrresponsibility/ChainOfIrresponsibility/obj
ChainOfIrresponsibility/ChainOfIrresponsibility.Tests/bin
ChainOfIrresponsibility/ChainOfIrresponsibility.Tests/obj
ChainOfIrresponsibility/Demo/bin
ChainOfIrresponsibility/Demo/obj